<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Digs Solutions</title>
   <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script defer src="script.js"></script>
</head>

  <body>


<div id="home-services">
<div class="container lazy-slide-l text-center animated slideInLeft">
  <h2>Home Services We Help With</h2>
<div class="row">
  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-tv" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>

 <img src="<%= asset_path("home.png") %>"/>
<h3>Home Automation</h3>
<p>Control thermostats, door locks, lights and view cameras from your smart phone or tablet.  We help customize a system that best suits your life style.</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-wifi" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("security.png") %>"/>
<h3>Home Security</h3>
<p>Whether you are leasing or you are buying we have the perfect security system for you.  Let us shop multiple companies to make sure you get the best deal and equipment available.
</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("phone.png") %>"/>
<h3>Phone</h3>
<p>We have options from the nations most reliable communication companies</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 item">
<div class="icon"><i class="far fa-lightbulb" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("light.png") %>"/>
<h3>Utilities</h3>
<p>Let us help facilitate your water, gas, and electric for your new home.  Our connection agents will look up what is available in your area and help you get connected.</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-lock" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("wifi.png") %>"/>
<h3>Internet</h3>
<p>We help connect you with high speed internet service that best helps you operate your life style.  We make sure that you have the bandwidth to run your house hold.
</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fab fa-android" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("tv.png") %>"/>
<h3>TV</h3>
<p> We help you choose between cable, satellite TV, and fiber optic TV service. We ensure you are getting the best deal and promotions that are available.  Let us work within your budget and find the channels that you want.
</p>
  </div>
</div>
  </div>
</div>


<div class="container-fluid">
  <div class="form-style-8">
<script type="text/javascript">
  JotForm.init(function(){
      setTimeout(function() {
          $('input_8').hint('ex: myname@example.com');
       }, 20);
    /*INIT-END*/
  });

   JotForm.prepareCalculationsOnTheFly([null,null,null,null,null,null,{"name":"_nbsp_","qid":"6","text":"Submit","type":"control_button"},{"name":"fullName","qid":"7","text":"Full Name","type":"control_fullname"},{"name":"email8","qid":"8","text":"E-mail","type":"control_email"},{"name":"phone","qid":"9","text":"Phone","type":"control_phone"},{"name":"serviceRequest","qid":"10","text":"Service Request Form","type":"control_head"},{"name":"address11","qid":"11","text":"Address","type":"control_address"},{"name":"whatTime","qid":"12","text":"What time works best for you?","type":"control_radio"},{"name":"whatDays","qid":"13","text":"What days work best for you?","type":"control_checkbox"},null,null,{"description":"","name":"whatServices16","qid":"16","text":"What services are you interested in?","type":"control_checkbox"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,null,null,null,null,null,{"name":"_nbsp_","qid":"6","text":"Submit","type":"control_button"},{"name":"fullName","qid":"7","text":"Full Name","type":"control_fullname"},{"name":"email8","qid":"8","text":"E-mail","type":"control_email"},{"name":"phone","qid":"9","text":"Phone","type":"control_phone"},{"name":"serviceRequest","qid":"10","text":"Service Request Form","type":"control_head"},{"name":"address11","qid":"11","text":"Address","type":"control_address"},{"name":"whatTime","qid":"12","text":"What time works best for you?","type":"control_radio"},{"name":"whatDays","qid":"13","text":"What days work best for you?","type":"control_checkbox"},null,null,{"description":"","name":"whatServices16","qid":"16","text":"What services are you interested in?","type":"control_checkbox"}]);}, 20); 
</script>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.15460" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.15460" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.15460" />
<style type="text/css">

  

</style>

<form class="jotform-form" action="https://submit.jotform.com/submit/200476434883157/" method="post" name="form_200476434883157" id="200476434883157" accept-charset="utf-8" autocomplete="on">
  <input type="hidden" name="formID" value="200476434883157" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_10" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-normal">
          <div class="header-text httal htvam">
            <h2 id="header_10" class="form-header" data-component="header">
              INFORMATION
            </h2>
            <div id="subHeader_10" class="form-subHeader">
              Please fill out form below
            </div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_fullname" id="id_7">
        <label class="form-label form-label-top form-label-auto" id="label_7" for="first_7">
          Full Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_7" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container " style="vertical-align:top">
              <input type="text" id="first_7" name="q7_fullName[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_7 sublabel_7_first" required="" />
              <label class="form-sub-label" for="first_7" id="sublabel_7_first" style="min-height:13px" aria-hidden="false"> First Name </label>
            </span>
            <span class="form-sub-label-container " style="vertical-align:top">
              <input type="text" id="last_7" name="q7_fullName[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_7 sublabel_7_last" required="" />
              <label class="form-sub-label" for="last_7" id="sublabel_7_last" style="min-height:13px" aria-hidden="false"> Last Name </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_phone" id="id_9">
        <label class="form-label form-label-top form-label-auto" id="label_9" for="input_9_area">
          Phone
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_9" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container " style="vertical-align:top">
              <input type="tel" id="input_9_area" name="q9_phone[area]" class="form-textbox validate[required]" size="6" value="" data-component="areaCode" aria-labelledby="label_9 sublabel_9_area" required="" />
              <span class="phone-separate" aria-hidden="true">
                 -
              </span>
              <label class="form-sub-label" for="input_9_area" id="sublabel_9_area" style="min-height:13px" aria-hidden="false"> Area Code </label>
            </span>
            <span class="form-sub-label-container " style="vertical-align:top">
              <input type="tel" id="input_9_phone" name="q9_phone[phone]" class="form-textbox validate[required]" size="12" value="" data-component="phone" aria-labelledby="label_9 sublabel_9_phone" required="" />
              <label class="form-sub-label" for="input_9_phone" id="sublabel_9_phone" style="min-height:13px" aria-hidden="false"> Phone Number </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_8">
        <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8">
          E-mail
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_8" class="form-input-wide jf-required">
          <input type="email" id="input_8" name="q8_email8" class="form-textbox validate[required, Email]" size="20" value="" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_8" required="" />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_address" id="id_11">
        <label class="form-label form-label-top" id="label_11" for="input_11undefined">
          Address
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_11" class="form-input-wide jf-required">
          <table summary="" class="form-address-table">
            <tbody>
              <tr>
                <td colSpan="2">
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <input type="text" id="input_11_addr_line1" name="q11_address11[addr_line1]" class="form-textbox validate[required] form-address-line" value="" data-component="address_line_1" aria-labelledby="label_11 sublabel_11_addr_line1" required="" />
                    <label class="form-sub-label" for="input_11_addr_line1" id="sublabel_11_addr_line1" style="min-height:13px" aria-hidden="false"> Street Address </label>
                  </span>
                </td>
              </tr>
              <tr>
                <td colSpan="2">
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <input type="text" id="input_11_addr_line2" name="q11_address11[addr_line2]" class="form-textbox form-address-line" size="46" value="" data-component="address_line_2" aria-labelledby="label_11 sublabel_11_addr_line2" required="" />
                    <label class="form-sub-label" for="input_11_addr_line2" id="sublabel_11_addr_line2" style="min-height:13px" aria-hidden="false"> Street Address Line 2 </label>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <input type="text" id="input_11_city" name="q11_address11[city]" class="form-textbox validate[required] form-address-city" size="21" value="" data-component="city" aria-labelledby="label_11 sublabel_11_city" required="" />
                    <label class="form-sub-label" for="input_11_city" id="sublabel_11_city" style="min-height:13px" aria-hidden="false"> City </label>
                  </span>
                </td>
                <td>
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <input type="text" id="input_11_state" name="q11_address11[state]" class="form-textbox validate[required] form-address-state" size="22" value="" data-component="state" aria-labelledby="label_11 sublabel_11_state" required="" />
                    <label class="form-sub-label" for="input_11_state" id="sublabel_11_state" style="min-height:13px" aria-hidden="false"> State / Province </label>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <input type="text" id="input_11_postal" name="q11_address11[postal]" class="form-textbox form-address-postal" size="10" value="" data-component="zip" aria-labelledby="label_11 sublabel_11_postal" required="" />
                    <label class="form-sub-label" for="input_11_postal" id="sublabel_11_postal" style="min-height:13px" aria-hidden="false"> Postal / Zip Code </label>
                  </span>
                </td>
                <td>
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <select class="form-dropdown validate[required] form-address-country noTranslate" name="q11_address11[country]" id="input_11_country" data-component="country" required="" aria-labelledby="label_11 sublabel_11_country">
                      <option value=""> Please Select </option>
                      <option value="United States"> United States </option>
                      <option value="Afghanistan"> Afghanistan </option>
                      <option value="Albania"> Albania </option>
                      <option value="Algeria"> Algeria </option>
                      <option value="American Samoa"> American Samoa </option>
                      <option value="Andorra"> Andorra </option>
                      <option value="Angola"> Angola </option>
                      <option value="Anguilla"> Anguilla </option>
                      <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
                      <option value="Argentina"> Argentina </option>
                      <option value="Armenia"> Armenia </option>
                      <option value="Aruba"> Aruba </option>
                      <option value="Australia"> Australia </option>
                      <option value="Austria"> Austria </option>
                      <option value="Azerbaijan"> Azerbaijan </option>
                      <option value="The Bahamas"> The Bahamas </option>
                      <option value="Bahrain"> Bahrain </option>
                      <option value="Bangladesh"> Bangladesh </option>
                      <option value="Barbados"> Barbados </option>
                      <option value="Belarus"> Belarus </option>
                      <option value="Belgium"> Belgium </option>
                      <option value="Belize"> Belize </option>
                      <option value="Benin"> Benin </option>
                      <option value="Bermuda"> Bermuda </option>
                      <option value="Bhutan"> Bhutan </option>
                      <option value="Bolivia"> Bolivia </option>
                      <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
                      <option value="Botswana"> Botswana </option>
                      <option value="Brazil"> Brazil </option>
                      <option value="Brunei"> Brunei </option>
                      <option value="Bulgaria"> Bulgaria </option>
                      <option value="Burkina Faso"> Burkina Faso </option>
                      <option value="Burundi"> Burundi </option>
                      <option value="Cambodia"> Cambodia </option>
                      <option value="Cameroon"> Cameroon </option>
                      <option value="Canada"> Canada </option>
                      <option value="Cape Verde"> Cape Verde </option>
                      <option value="Cayman Islands"> Cayman Islands </option>
                      <option value="Central African Republic"> Central African Republic </option>
                      <option value="Chad"> Chad </option>
                      <option value="Chile"> Chile </option>
                      <option value="China"> China </option>
                      <option value="Christmas Island"> Christmas Island </option>
                      <option value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands </option>
                      <option value="Colombia"> Colombia </option>
                      <option value="Comoros"> Comoros </option>
                      <option value="Congo"> Congo </option>
                      <option value="Cook Islands"> Cook Islands </option>
                      <option value="Costa Rica"> Costa Rica </option>
                      <option value="Cote d&#x27;Ivoire"> Cote d&#x27;Ivoire </option>
                      <option value="Croatia"> Croatia </option>
                      <option value="Cuba"> Cuba </option>
                      <option value="Cyprus"> Cyprus </option>
                      <option value="Czech Republic"> Czech Republic </option>
                      <option value="Democratic Republic of the Congo"> Democratic Republic of the Congo </option>
                      <option value="Denmark"> Denmark </option>
                      <option value="Djibouti"> Djibouti </option>
                      <option value="Dominica"> Dominica </option>
                      <option value="Dominican Republic"> Dominican Republic </option>
                      <option value="Ecuador"> Ecuador </option>
                      <option value="Egypt"> Egypt </option>
                      <option value="El Salvador"> El Salvador </option>
                      <option value="Equatorial Guinea"> Equatorial Guinea </option>
                      <option value="Eritrea"> Eritrea </option>
                      <option value="Estonia"> Estonia </option>
                      <option value="Ethiopia"> Ethiopia </option>
                      <option value="Falkland Islands"> Falkland Islands </option>
                      <option value="Faroe Islands"> Faroe Islands </option>
                      <option value="Fiji"> Fiji </option>
                      <option value="Finland"> Finland </option>
                      <option value="France"> France </option>
                      <option value="French Polynesia"> French Polynesia </option>
                      <option value="Gabon"> Gabon </option>
                      <option value="The Gambia"> The Gambia </option>
                      <option value="Georgia"> Georgia </option>
                      <option value="Germany"> Germany </option>
                      <option value="Ghana"> Ghana </option>
                      <option value="Gibraltar"> Gibraltar </option>
                      <option value="Greece"> Greece </option>
                      <option value="Greenland"> Greenland </option>
                      <option value="Grenada"> Grenada </option>
                      <option value="Guadeloupe"> Guadeloupe </option>
                      <option value="Guam"> Guam </option>
                      <option value="Guatemala"> Guatemala </option>
                      <option value="Guernsey"> Guernsey </option>
                      <option value="Guinea"> Guinea </option>
                      <option value="Guinea-Bissau"> Guinea-Bissau </option>
                      <option value="Guyana"> Guyana </option>
                      <option value="Haiti"> Haiti </option>
                      <option value="Honduras"> Honduras </option>
                      <option value="Hong Kong"> Hong Kong </option>
                      <option value="Hungary"> Hungary </option>
                      <option value="Iceland"> Iceland </option>
                      <option value="India"> India </option>
                      <option value="Indonesia"> Indonesia </option>
                      <option value="Iran"> Iran </option>
                      <option value="Iraq"> Iraq </option>
                      <option value="Ireland"> Ireland </option>
                      <option value="Israel"> Israel </option>
                      <option value="Italy"> Italy </option>
                      <option value="Jamaica"> Jamaica </option>
                      <option value="Japan"> Japan </option>
                      <option value="Jersey"> Jersey </option>
                      <option value="Jordan"> Jordan </option>
                      <option value="Kazakhstan"> Kazakhstan </option>
                      <option value="Kenya"> Kenya </option>
                      <option value="Kiribati"> Kiribati </option>
                      <option value="North Korea"> North Korea </option>
                      <option value="South Korea"> South Korea </option>
                      <option value="Kosovo"> Kosovo </option>
                      <option value="Kuwait"> Kuwait </option>
                      <option value="Kyrgyzstan"> Kyrgyzstan </option>
                      <option value="Laos"> Laos </option>
                      <option value="Latvia"> Latvia </option>
                      <option value="Lebanon"> Lebanon </option>
                      <option value="Lesotho"> Lesotho </option>
                      <option value="Liberia"> Liberia </option>
                      <option value="Libya"> Libya </option>
                      <option value="Liechtenstein"> Liechtenstein </option>
                      <option value="Lithuania"> Lithuania </option>
                      <option value="Luxembourg"> Luxembourg </option>
                      <option value="Macau"> Macau </option>
                      <option value="Macedonia"> Macedonia </option>
                      <option value="Madagascar"> Madagascar </option>
                      <option value="Malawi"> Malawi </option>
                      <option value="Malaysia"> Malaysia </option>
                      <option value="Maldives"> Maldives </option>
                      <option value="Mali"> Mali </option>
                      <option value="Malta"> Malta </option>
                      <option value="Marshall Islands"> Marshall Islands </option>
                      <option value="Martinique"> Martinique </option>
                      <option value="Mauritania"> Mauritania </option>
                      <option value="Mauritius"> Mauritius </option>
                      <option value="Mayotte"> Mayotte </option>
                      <option value="Mexico"> Mexico </option>
                      <option value="Micronesia"> Micronesia </option>
                      <option value="Moldova"> Moldova </option>
                      <option value="Monaco"> Monaco </option>
                      <option value="Mongolia"> Mongolia </option>
                      <option value="Montenegro"> Montenegro </option>
                      <option value="Montserrat"> Montserrat </option>
                      <option value="Morocco"> Morocco </option>
                      <option value="Mozambique"> Mozambique </option>
                      <option value="Myanmar"> Myanmar </option>
                      <option value="Nagorno-Karabakh"> Nagorno-Karabakh </option>
                      <option value="Namibia"> Namibia </option>
                      <option value="Nauru"> Nauru </option>
                      <option value="Nepal"> Nepal </option>
                      <option value="Netherlands"> Netherlands </option>
                      <option value="Netherlands Antilles"> Netherlands Antilles </option>
                      <option value="New Caledonia"> New Caledonia </option>
                      <option value="New Zealand"> New Zealand </option>
                      <option value="Nicaragua"> Nicaragua </option>
                      <option value="Niger"> Niger </option>
                      <option value="Nigeria"> Nigeria </option>
                      <option value="Niue"> Niue </option>
                      <option value="Norfolk Island"> Norfolk Island </option>
                      <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of Northern Cyprus </option>
                      <option value="Northern Mariana"> Northern Mariana </option>
                      <option value="Norway"> Norway </option>
                      <option value="Oman"> Oman </option>
                      <option value="Pakistan"> Pakistan </option>
                      <option value="Palau"> Palau </option>
                      <option value="Palestine"> Palestine </option>
                      <option value="Panama"> Panama </option>
                      <option value="Papua New Guinea"> Papua New Guinea </option>
                      <option value="Paraguay"> Paraguay </option>
                      <option value="Peru"> Peru </option>
                      <option value="Philippines"> Philippines </option>
                      <option value="Pitcairn Islands"> Pitcairn Islands </option>
                      <option value="Poland"> Poland </option>
                      <option value="Portugal"> Portugal </option>
                      <option value="Puerto Rico"> Puerto Rico </option>
                      <option value="Qatar"> Qatar </option>
                      <option value="Republic of the Congo"> Republic of the Congo </option>
                      <option value="Romania"> Romania </option>
                      <option value="Russia"> Russia </option>
                      <option value="Rwanda"> Rwanda </option>
                      <option value="Saint Barthelemy"> Saint Barthelemy </option>
                      <option value="Saint Helena"> Saint Helena </option>
                      <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
                      <option value="Saint Lucia"> Saint Lucia </option>
                      <option value="Saint Martin"> Saint Martin </option>
                      <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon </option>
                      <option value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines </option>
                      <option value="Samoa"> Samoa </option>
                      <option value="San Marino"> San Marino </option>
                      <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
                      <option value="Saudi Arabia"> Saudi Arabia </option>
                      <option value="Senegal"> Senegal </option>
                      <option value="Serbia"> Serbia </option>
                      <option value="Seychelles"> Seychelles </option>
                      <option value="Sierra Leone"> Sierra Leone </option>
                      <option value="Singapore"> Singapore </option>
                      <option value="Slovakia"> Slovakia </option>
                      <option value="Slovenia"> Slovenia </option>
                      <option value="Solomon Islands"> Solomon Islands </option>
                      <option value="Somalia"> Somalia </option>
                      <option value="Somaliland"> Somaliland </option>
                      <option value="South Africa"> South Africa </option>
                      <option value="South Ossetia"> South Ossetia </option>
                      <option value="South Sudan"> South Sudan </option>
                      <option value="Spain"> Spain </option>
                      <option value="Sri Lanka"> Sri Lanka </option>
                      <option value="Sudan"> Sudan </option>
                      <option value="Suriname"> Suriname </option>
                      <option value="Svalbard"> Svalbard </option>
                      <option value="eSwatini"> eSwatini </option>
                      <option value="Sweden"> Sweden </option>
                      <option value="Switzerland"> Switzerland </option>
                      <option value="Syria"> Syria </option>
                      <option value="Taiwan"> Taiwan </option>
                      <option value="Tajikistan"> Tajikistan </option>
                      <option value="Tanzania"> Tanzania </option>
                      <option value="Thailand"> Thailand </option>
                      <option value="Timor-Leste"> Timor-Leste </option>
                      <option value="Togo"> Togo </option>
                      <option value="Tokelau"> Tokelau </option>
                      <option value="Tonga"> Tonga </option>
                      <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie </option>
                      <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
                      <option value="Tristan da Cunha"> Tristan da Cunha </option>
                      <option value="Tunisia"> Tunisia </option>
                      <option value="Turkey"> Turkey </option>
                      <option value="Turkmenistan"> Turkmenistan </option>
                      <option value="Turks and Caicos Islands"> Turks and Caicos Islands </option>
                      <option value="Tuvalu"> Tuvalu </option>
                      <option value="Uganda"> Uganda </option>
                      <option value="Ukraine"> Ukraine </option>
                      <option value="United Arab Emirates"> United Arab Emirates </option>
                      <option value="United Kingdom"> United Kingdom </option>
                      <option value="Uruguay"> Uruguay </option>
                      <option value="Uzbekistan"> Uzbekistan </option>
                      <option value="Vanuatu"> Vanuatu </option>
                      <option value="Vatican City"> Vatican City </option>
                      <option value="Venezuela"> Venezuela </option>
                      <option value="Vietnam"> Vietnam </option>
                      <option value="British Virgin Islands"> British Virgin Islands </option>
                      <option value="Isle of Man"> Isle of Man </option>
                      <option value="US Virgin Islands"> US Virgin Islands </option>
                      <option value="Wallis and Futuna"> Wallis and Futuna </option>
                      <option value="Western Sahara"> Western Sahara </option>
                      <option value="Yemen"> Yemen </option>
                      <option value="Zambia"> Zambia </option>
                      <option value="Zimbabwe"> Zimbabwe </option>
                      <option value="other"> Other </option>
                    </select>
                    <label class="form-sub-label" for="input_11_country" id="sublabel_11_country" style="min-height:13px" aria-hidden="false"> Country </label>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_checkbox" id="id_13">
        <label class="form-label form-label-top" id="label_13" for="input_13">
          What days work best for you?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_13" class="form-input-wide jf-required">
          <div class="form-multiple-column" data-columncount="3" role="group" aria-labelledby="label_13" data-component="checkbox">
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_13_0" name="q13_whatDays[]" value="Monday" required="" />
              <label id="label_input_13_0" for="input_13_0"> Monday </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_13_1" name="q13_whatDays[]" value="Tuesday" required="" />
              <label id="label_input_13_1" for="input_13_1"> Tuesday </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_13_2" name="q13_whatDays[]" value="Wednesday" required="" />
              <label id="label_input_13_2" for="input_13_2"> Wednesday </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_13_3" name="q13_whatDays[]" value="Thursday" required="" />
              <label id="label_input_13_3" for="input_13_3"> Thursday </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_13_4" name="q13_whatDays[]" value="Friday" required="" />
              <label id="label_input_13_4" for="input_13_4"> Friday </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_13_5" name="q13_whatDays[]" value="Saturday" required="" />
              <label id="label_input_13_5" for="input_13_5"> Saturday </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_radio" id="id_12">
        <label class="form-label form-label-top" id="label_12" for="input_12">
          What time works best for you?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_12" class="form-input-wide jf-required">
          <div class="form-multiple-column" data-columncount="3" role="group" aria-labelledby="label_12" data-component="radio">
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_0" name="q12_whatTime" value="Morning" required="" />
              <label id="label_input_12_0" for="input_12_0"> Morning </label>
            </span>
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_1" name="q12_whatTime" value="Afternoon" required="" />
              <label id="label_input_12_1" for="input_12_1"> Afternoon </label>
            </span>
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_2" name="q12_whatTime" value="Evening" required="" />
              <label id="label_input_12_2" for="input_12_2"> Evening </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_checkbox" id="id_16">
        <label class="form-label form-label-top form-label-auto" id="label_16" for="input_16">
          What services are you interested in?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_16" class="form-input-wide jf-required">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_16" data-component="checkbox">
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_0" name="q16_whatServices16[]" value="Phone" required="" />
              <label id="label_input_16_0" for="input_16_0"> Phone </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_1" name="q16_whatServices16[]" value="Gas" required="" />
              <label id="label_input_16_1" for="input_16_1"> Gas </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_2" name="q16_whatServices16[]" value="Home Security" required="" />
              <label id="label_input_16_2" for="input_16_2"> Home Security </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_3" name="q16_whatServices16[]" value="Electric" required="" />
              <label id="label_input_16_3" for="input_16_3"> Electric </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_4" name="q16_whatServices16[]" value="TV" required="" />
              <label id="label_input_16_4" for="input_16_4"> TV </label>
            </span>
            <span class="form-checkbox-item">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_5" name="q16_whatServices16[]" value="Home Automation" required="" />
              <label id="label_input_16_5" for="input_16_5"> Home Automation </label>
            </span>
            <span class="form-checkbox-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_16_6" name="q16_whatServices16[]" value="Internet" required="" />
              <label id="label_input_16_6" for="input_16_6"> Internet </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_6">
        <div id="cid_6" class="form-input-wide">
          <div style="text-align:center" class="form-buttons-wrapper ">
            <button id="input_6" type="submit" class="form-submit-button" data-component="button" data-content="">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>


</div>
</div>
</div>
</body>