<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Digs Solutions</title>
   <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script defer src="script.js"></script>
</head>

  <body>
<div class="col-md-4 item">
<a class="btn lightbox-200476434883157"> Click here for form </a>

<div id="home-services">
<div class="container lazy-slide-l text-center animated slideInLeft">
  <h2>Home Services We Help With</h2>
<div class="row">
  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-tv" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>

 <img src="<%= asset_path("home.png") %>"/>
<h3>Home Automation</h3>
<p>Control thermostats, door locks, lights and view cameras from your smart phone or tablet.  We help customize a system that best suits your life style.</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-wifi" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("security.png") %>"/>
<h3>Home Security</h3>
<p>Whether you are leasing or you are buying we have the perfect security system for you.  Let us shop multiple companies to make sure you get the best deal and equipment available.
</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("phone.png") %>"/>
<h3>Phone</h3>
<p>We have options from the nations most reliable communication companies</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 item">
<div class="icon"><i class="far fa-lightbulb" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("light.png") %>"/>
<h3>Utilities</h3>
<p>Let us help facilitate your water, gas, and electric for your new home.  Our connection agents will look up what is available in your area and help you get connected.</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fas fa-lock" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("wifi.png") %>"/>
<h3>Internet</h3>
<p>We help connect you with high speed internet service that best helps you operate your life style.  We make sure that you have the bandwidth to run your house hold.
</p>
  </div>

  <div class="col-md-4 item">
<div class="icon"><i class="fab fa-android" aria-hidden="true"></i></div>
<div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
<img src="<%= asset_path("tv.png") %>"/>
<h3>TV</h3>
<p> We help you choose between cable, satellite TV, and fiber optic TV service. We ensure you are getting the best deal and promotions that are available.  Let us work within your budget and find the channels that you want.
</p>
  </div>
</div>
  </div>
</div>


<script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript"> var JFL_200476434883157 = new JotformFeedback({ formId: '200476434883157', base: 'https://form.jotform.com/', windowTitle: ' Request Form', background: '#4a90e2', fontColor: '#FFFFFF', type: '1', height: 500, width: 700, openOnLoad: false }); </script> 
<div class="col-md-4 item">


</div>
</div>
</div>
</div>
</body>