<!DOCTYPE html>
<html>
  <head>
    <title>New Digs Solutions</title>
        <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>



    

 
 <div id="flex-content-container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      
      
<div>
        <a class="navbar-brand" href="#">
        <img src="<%= asset_path("logo.png") %>" />
  <br />
  
  <br />

 <br />

  <br />

   <br />

</div></a>

    
    </nav>

  


    <%= yield %>
  </div>
  <div id="footer">
      <div class="container">
        <b></b>
        <br />
        <%= link_to '', '#' %>
      </div>
    </div>

  </body>
</html>
